@import '../../../variables.scss';

.services-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 150px;
    .services-header{
        position: relative;
        padding-left: 40%;
        margin-top: 20px;
        h1{
            font-size: 50px;
            color: $dark-green;
        }
    }
    .service-item-cnt {
        .service-item {
            width: 260px;
            display: flex;
            flex-direction: column;
            background-color: $white;
            border: 1px solid $dark-green;
            padding: 10px 20px;
            border-radius: 5px;

            .service-image {
                width: 100%;
                min-height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 150px;
                    background: transparent;
                }
            }

            .service-content {
                min-height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;
                margin-top: 20px;
                font-size: 16px;
                color: $dark-blue;
                .item-header{
                    text-align: center;
                    font-weight: 700;
                }
                .item-content{
                    text-align: center;
                    font-size: 15px;
                }
            }

        }

        .slick-slider {
            width: 85%;
            margin: auto;

            .slick-slide>div {
                width: 300px;
            }
        }
    }
}