@import "../../../variables.scss";

.workflow-cnt {
    width: 100%;
    min-height: 200px;
    padding: 50px 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        height: 1px;
        border: 1px solid $dark-blue;
        position: absolute;
        left: 100px;
        z-index: 1;
        margin-top: 50px;

        li {
            list-style: none;
            position: relative;
            z-index: 10;
            top: 5px;

            .workflow-item {
                display: flex;
                flex-direction: column;
                text-align: center;

                img {
                    width: 100px;
                    height: 50px;
                    background-color: $white;
                    border: 1px solid $dark-green;
                    border-radius: 50%;
                    margin-bottom: 5px;
                }

                h5{
                    color: $dark-green;
                    font-weight: bold;
                }
            }

        }

        li:before {
            content: "\f061";
            /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            position: absolute;
            color: $dark-blue;
            top: 23px;
            left: -12px;
        }

        .start {
            left: -2px;
        }

        .start::before {
            content: '';
        }

        .active {
            right: -10px;
        }

    }



}